<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weather.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <!-- 添加访问网络的权限 -->
    <uses-permission  android:name="android.permission.INTERNET" />
    <!-- 添加访问GSP定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/set_city"
            android:name=".SetCityActivity">
            <intent-filter>
                <!-- 设置其为widget组件的配置Activity -->
		        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
		    </intent-filter>
        </activity>
        
        <!-- 添加widget组件 -->
        <receiver android:name=".WeatherWidget" 
            android:label="@string/app_name"
            android:icon="@drawable/logo" >
            <intent-filter >
                <!-- 指定AppWidgetProvider接收的广播 -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget" />
        </receiver>
        
        <!-- 自定义的后台更新widget服务 -->
        <service android:name=".UpdateWidgetService"></service>
    </application>

</manifest>